# E-Commerce Data Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading the data

df=pd.read_csv(r'C:\Users\Rocky\Downloads\Data Analytics\Class Assignments\ecommerce_data.csv')

In [4]:
#lets check how the data looks like (top 5 rows)

df.head()

   id                                        description
0   1  Active classic boxers - There's a reason why o...
1   2  Active sport boxer briefs - Skinning up Glory ...
2   3  Active sport briefs - These superbreathable no...
3   4  Alpine guide pants - Skin in, climb ice, switc...
4   5  Alpine wind jkt - On high ridges, steep ice an...

In [5]:
#Checking if there is any null value in the description column

df.isnull().sum()

id             0
description    0
dtype: int64

In [7]:
#Checking the type of columns

df.dtypes

id              int64
description    object
dtype: object

In [8]:
#Checking the index of the dataframe

df.index

RangeIndex(start=0, stop=500, step=1)

# 1. Split the column description and name them 'Type' and 'Type_description'. The seprator is the first '-'.

In [33]:
#Let's see how the data looks like

df.head()

   id                                        description
0   1  Active classic boxers - There's a reason why o...
1   2  Active sport boxer briefs - Skinning up Glory ...
2   3  Active sport briefs - These superbreathable no...
3   4  Alpine guide pants - Skin in, climb ice, switc...
4   5  Alpine wind jkt - On high ridges, steep ice an...

In [25]:
# '-' is the separator
#n=1 basically just expands the first separator and limits getting seperated for others

df_new=df['description'].str.split('-', n=1, expand=True)
df_new.head()

,0,1
0,Active classic boxers,There's a reason why our boxers are a cult fa...
1,Active sport boxer briefs,Skinning up Glory requires enough movement wi...
2,Active sport briefs,These superbreathable no-fly briefs are the m...
3,Alpine guide pants,"Skin in, climb ice, switch to rock, traverse ..."
4,Alpine wind jkt,"On high ridges, steep ice and anything alpine..."

In [32]:
#Lets rename the columns

df_new=df_new.rename(columns={0:'Type', 1:'Type_descrition'})
df_new.head()

,Type,Type_descrition
0,Active classic boxers,There's a reason why our boxers are a cult fa...
1,Active sport boxer briefs,Skinning up Glory requires enough movement wi...
2,Active sport briefs,These superbreathable no-fly briefs are the m...
3,Alpine guide pants,"Skin in, climb ice, switch to rock, traverse ..."
4,Alpine wind jkt,"On high ridges, steep ice and anything alpine..."

# 2. In the splitted dataframe, change all the letters of the Type into Upper case.

In [40]:
df_new.head()

,Type,Type_descrition
0,Active classic boxers,There's a reason why our boxers are a cult fa...
1,Active sport boxer briefs,Skinning up Glory requires enough movement wi...
2,Active sport briefs,These superbreathable no-fly briefs are the m...
3,Alpine guide pants,"Skin in, climb ice, switch to rock, traverse ..."
4,Alpine wind jkt,"On high ridges, steep ice and anything alpine..."

In [44]:
#Lets select the column and then change all the letters into upper case

df_new['Type']=df_new['Type'].str.upper()

#Let's check the updated datframe now
df_new.head()

,Type,Type_descrition
0,ACTIVE CLASSIC BOXERS,There's a reason why our boxers are a cult fa...
1,ACTIVE SPORT BOXER BRIEFS,Skinning up Glory requires enough movement wi...
2,ACTIVE SPORT BRIEFS,These superbreathable no-fly briefs are the m...
3,ALPINE GUIDE PANTS,"Skin in, climb ice, switch to rock, traverse ..."
4,ALPINE WIND JKT,"On high ridges, steep ice and anything alpine..."

# 3. In the dataframe, how many of them are of Sports type?

In [46]:
#Let's check the data first

df_new.head()

,Type,Type_descrition
0,ACTIVE CLASSIC BOXERS,There's a reason why our boxers are a cult fa...
1,ACTIVE SPORT BOXER BRIEFS,Skinning up Glory requires enough movement wi...
2,ACTIVE SPORT BRIEFS,These superbreathable no-fly briefs are the m...
3,ALPINE GUIDE PANTS,"Skin in, climb ice, switch to rock, traverse ..."
4,ALPINE WIND JKT,"On high ridges, steep ice and anything alpine..."

In [60]:
#Let's get a dataframe that contains 'ACTIVE' in their type.

df_active=df_new[(df_new['Type'].str.contains('SPORT')) |(df_new['Type'].str.contains('SPORTS'))]
df_active

,Type,Type_descrition
1,ACTIVE SPORT BOXER BRIEFS,Skinning up Glory requires enough movement wi...
2,ACTIVE SPORT BRIEFS,These superbreathable no-fly briefs are the m...
257,SPORT TOP,"The loose, performance fit of the Women's Spo..."

In [61]:
#The question is how many of the 'ACTIVE' types are there. We just need to measure the length of the dataframe.

print('The total types of data with active types: ',len(df_active))

The total types of data with active types:  3